body {
	font-family: "微软雅黑";
	color: #2286e6;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.mui-bar-nav {
	background-color: #0099FF;
}

.mui-bar-nav a,
.mui-bar-nav h1 {
	align-self: center;
	color: white;
}

.mui-media-body {
	font-family: "微软雅黑";
	font-size: 16px;
}

.mui-input-row {
	font-family: "微软雅黑";
	font-size: 15px;
}

.mui-content {
	height: 100%;
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell {
	border-bottom: 0px solid #eee;
}

.table-text-cell {
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-top: 1px solid #eee;
}

.icon {
	/* 通过设置 font-size 来改变图标大小 */
	width: 1em;
	height: 1em;
	/* 图标和文字相邻时，垂直对齐 */
	vertical-align: -0.15em;
	/* 通过设置 color 来改变 SVG 的颜色/fill */
	fill: currentColor;
	/* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
             normalize.css 中也包含这行 */
	overflow: hidden;
}

textarea {
	border: solid 1px #BBBBBB !important;
}
